@font-face {
  font-family: 'PlayfairDisplay';
  src:
          local('PlayfairDisplay'),
          url('../fonts/PlayfairDisplay-Black.ttf');
}

@font-face {
  font-family: 'Raleway';
  src:
          local('Raleway'),
          url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src:
          local('RobotoBold'),
          url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto'),
          url('../fonts/Roboto-Regular.ttf');
}